html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: 'DeadSpaceTitle';
    src: url('../fonts/DeadSpaceTitleFont.ttf');
}

@font-face {

    font-family: 'RusselSquare';

    src: url('../fonts/RusselSquareOpti.otf');

}

:root {
    --primary-color: #B3B3B3;
    --secondary-color: #C62222;
    --accent-black: #010000;
    --accent-cyan: #00D7D7;
}

body {
    background-image: url(../images/ds2background.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: var(--primary-color);
    font-family: 'RusselSquare', sans-serif;
    margin: 0;
    padding: 0;
}

h2, h3 {
    font-family: 'DeadSpaceTitle', sans-serif;
    font-size: 2em;
    color: var(--secondary-color);
}

header {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid var(--primary-color);
    padding: 0;
}

.header-top {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.logo-box {
    grid-column: 1;
}

header h1 {
    grid-column: 2;
    margin: 0;
    color: var(--secondary-color);
    font-family: 'DeadSpaceTitle', sans-serif;
    font-size: 80px;
    letter-spacing: 20px;
}

.logo-box img {
    height: 100px;
}

h2 {
    background-color: rgba(1, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid var(--accent-cyan);
    padding: 5px;
}

#purpose {
    background-color: rgba(1, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid var(--accent-cyan);
    padding: 5px;
}

nav {
    background-color: var(--accent-black);
    border-top: 2px solid var(--primary-color);
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: var(--primary-color);
    font-family: 'RusselSquare', sans-serif;
    text-decoration: none;
    padding: 15px 0;
    text-align: center;
    display: block;
    font-size: 1.2rem;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    color: var(--accent-cyan);
    border-bottom: 2px solid var(--accent-cyan);
    border-top: 2px solid var(--accent-cyan);
}

nav li {
    list-style-type: none;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.home-grid img {
    width: 100%;
    height: auto;
    border: 1px solid var(--secondary-color);
}

.characters_text {
    background-color: rgba(1, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid var(--accent-cyan);
    padding: 20px;
}